@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.name{
    color: #EB5151;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  background: #fff;
  color: #333;
}

header {
  background-color: #c8102e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

header .logo h1 {
  font-size: 1.5em;
  margin: 0;
}

header .logo small {
  font-weight: 300;
  font-size: 0.8em;
  margin-left: 5px;
}

header .right {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

main {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
  color: #273644;
  margin-bottom: 10px;
}
.line{
    display: flex;
    padding-left: 42px;
}

.quote {
  color: #c8102e;
  font-size: 2em;
  margin-right: 5px;
}

.author {
  padding-left: 42px;
  background: #EFF2F7;
  padding: auto 9px;
  color: #666;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 20px;
}

.author .tag {
  background: #EB5151;
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.8em;
}

.content {
  font-size: 1em;
  color: #707C8C;
  line-height: 1.6;
  padding-left: 42px;
}

.continue {
    padding-left: 42px;
  color: #EB5151;
  text-decoration: none;
  font-weight: 600;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 30px 0;
}

.categories h3 {
  color: #999;
  font-weight: 400;
  font-size: 1.1em;
}

.tags {
  margin: 10px 0 15px 0;
  padding-left: 42px;
}

.tags span {
  display: inline-block;
  border: 1px solid #f3caca;
  color: #c8102e;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 3px;
  font-size: 0.85em;
}

.see-all {
  color: #888;
  font-size: 0.85em;
  text-decoration: none;
  display: flex;
  justify-content: end;
  padding-left: 327px;
}
h3{
    padding-left: 42px;
}